body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}

h1 {
  margin: 0;
  float: left;
  font-size: 4em;
  line-height: 2em;
}

p {
  padding: 0 20px;
  margin: 0 20px;
  border-radius: 6px;
  float:left;
  font-weight: bold;
  font-size: 4em;
  line-height: 2em;
}

iframe {
  border: none;
  height: 30px;
  overflow: hidden;
}

marquee {
  display: block;
}

#status {
  display: none;
}

#nojavascript {
  background-color: darkred;
  color: white;
  display: inline;
  width: 300px;
  padding: 0;
  line-height: 2em;
}

.open {
  background-color: green;
  color: white;
}

.closed {
  background-color: darkred;
  color: white;
}

.down {
  background-color: #f9a825;
  color: white;
}

.small {
  clear: both;
  margin: 0;
}
