[Unit]
Description=Doorstatus for the Door
After=syslog.target

[Service]
Type=simple
User=doorstatus
Group=doorstatus
WorkingDirectory=/home/doorstatus/metadoor
ExecStart=/home/doorstatus/metadoor/door.py
StandardError=syslog
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target